<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.jita.erhuo.mapper.DictCategoryMapper'>

    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='DictCategory' id='CategoryResult'>
        <id property='id' column='id'/>
        <result property='code' column='code'/>
        <result property='name' column='name'/>
        <result property='parentId' column='parent_id'/>
    </resultMap>

    <select id='getCategoriesByParentId' parameterType='java.lang.Long' resultMap='CategoryResult'>
        SELECT
        id,
        code,
        name,
        parent_id
        FROM dict_category
        WHERE parent_id = #{id}
    </select>

    <select id='getAllRootCategories' resultMap='CategoryResult'>
        SELECT
        id,
        code,
        name,
        parent_id
        FROM dict_category
        where parent_id is null
    </select>

</mapper>