<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.jita.erhuo.mapper.GoodsPictureMapper'>

    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='GoodsPicture' id='PictureResult'>
        <id property='id' column='id'/>
        <result property='goodsId' column='goods_id'/>
        <result property='originalPic' column='original_pic'/>
        <result property='thumbnail' column='thumbnail'/>
        <result property='seq' column='seq'/>
    </resultMap>

    <select id='getPicturesByGoodsId' resultMap='PictureResult'>
        SELECT
        id,
        goods_id,
        original_pic,
        thumbnail,
        seq
        FROM goods_picture
        WHERE goods_id = #{goodsId}
    </select>

    <insert id='save' parameterType='Goods' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO goods_picture(goods_id, original_pic, thumbnail,seq)
        VALUES(#{goodsId}, #{originalPic}, #{thumbnail}, #{seq})
    </insert>

</mapper>